.app {
  width: 100vw;
  height: 100vh;
  background-image: url("https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/m/minecraft-switch/hero");
  display: flex;
  justify-content: space-between;
}
.game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-btn button {
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
}
.instructions {
  width: 20%;
  height: 30%;
  font-size: 1rem;
  background-color: rgb(197, 186, 184);
  border-radius: 1rem;
  margin-left: 4rem;
  display: block;
  line-height: 1.5;
  margin-top: 20%;
}
h3 {
  text-align: center;
  font-size: 2rem;
}
.text {
  padding: 4px;
}
.app button:hover {
  background-color: rgb(85, 138, 251);
  color: white;
  cursor: pointer;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  color: yellow;
}
.absolute {
  position: absolute;
}
.world {
  top: 10px;
  left: 10px;
}
