#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: antiquewhite;
}
body {
  position: fixed;
  overflow: hidden;
  font-size: 40px;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

.texture-type {
  transform: scale(3);
}
.texture-type img.active {
  border: 3px solid black;
}
